<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>415903824817-j0p24ea9f7rhab3031sgh139bpiajl9p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.415903824817-j0p24ea9f7rhab3031sgh139bpiajl9p</string>
	<key>API_KEY</key>
	<string>AIzaSyByCfC3e2gWlG_ovnnQb3-8WMh3I41ea7E</string>
	<key>GCM_SENDER_ID</key>
	<string>415903824817</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>deepo.com.Crokitta</string>
	<key>PROJECT_ID</key>
	<string>crokitta-4dba2</string>
	<key>STORAGE_BUCKET</key>
	<string>crokitta-4dba2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:415903824817:ios:46717a316cfb250bc79b90</string>
</dict>
</plist>